<!DOCTYPE html>
<html>
<head>
<style> 
#example1 {
    background: url(original.gif) left top no-repeat, url(original.gif) right bottom no-repeat, url(original.gif) left top repeat;
    padding: 15px;
    background-size: 50px, 130px, auto;
}

#p{
font-family: Arial, Helvetica, sans-serif;
}

</style>
</head>
<body>
<div id="p">
    
<div id="example1">
<h1 style="color: white;" >Objeto con titulo dentro del div con gif</h1>
<p style="color: white;">Aqui va el texto de la imagen</p>

</div>

</div>
</body>
</html>
