<!DOCTYPE html>
<html>
<head>
<style>
*{
    margin: 0px 0px 0px 0px
    }

#grad1 {
    height: 200px;
    background-color: red; 
    background-image: linear-gradient(to bottom right, red, yellow); 
}
#grad2 {
    height: 200px;
    background-color: aqua; 
    background-image: linear-gradient(to bottom right,aqua, green); 
}
#grad3 {
    height: 200px;
    background-color: pink; 
    background-image: linear-gradient(to bottom right,pink, purple); 
}

</style>
</head>
<body>

<center><div id="grad1"><h3> Baner de color rojo y amarillo</h3></div></center>
<center><div id="grad2"><h3>Baner de color aqua y verde</h3></div></center>
<center><div id="grad3"><h3>Banner de color rosa y morado</h3></div></center>

</body>
</html>