<!DOCTYPE html>
<html>
<head>
<style>
*{margin: 0px 0px 0px 0px}
p.double {border-style: double;}

#fondo{
    height: 1420px;
    width: 1100px;
    background-color: green;
}

p{
    margin-top: 50px;
    margin-bottom: 50px;
    nav-right: 150px;
    margin-left: 80px;
}

</style>
</head>
<body>

<div id="fondo">
<center><h2>Estilo de borde definido para paginas web y bordes </h2></center>
<center><p>Ejemplo sencillo de borde doble</p></center>

<p class="double">Borde doble texto de muestra el borde rodea el texto segun sea la cantidad del texto

        Los sistemas Web o tambien conocido como aplicaciones Webe son aquellos que estan creados e instalados no sobre una plataforma o 
        sistemas operativos ( Windows, Linux). Sino que se aloja en un servidor en Internet o sobre una intranet (red local).
        Su aspecto es muy similar a paginas Web que vemos normalmente, pero en realidad los sistemasWeb tienen funcionalidades muy potentes que brindan respuestas a casos particulares.

</p>

</div>
</body>
</html>
