<!DOCTYPE html>
<html>
<head>
<style>
div {
    border: 5px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
</style>
</head>
<body>

<center><h2>Padding en divs con borde</h2></center>
<center><div>Elemento de texto con borde y relleno centrado de texto</div></center>

</body>
</html>
