<!DOCTYPE html>
<html>
<head>
<style>

#fondo{
    height: 100%;
    width : 100%;
    background-color: silver;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){
    background-color: white;
    }

#customers tr:hover {
    background-color: gray;
    }

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<div id="fondo">
<table id="customers">
  <tr>
    <th>Compañia</th>
    <th>CEO</th>
    <th>Pais</th>
  </tr>
  <tr>
    <td>Apple</td>
    <td>Tim Cook</td>
    <td>Estados Unidos</td>
  </tr>
  <tr>
    <td>Samsung</td>
    <td>Lee Kun-hee</td>
    <td>Corea del sur</td>
  </tr>
  <tr>
    <td>HP</td>
    <td>Antonio Neri</td>
    <td>Estados Unidos</td>
  </tr>
  <tr>
    <td>Google</td>
    <td>Sundar Pichai</td>
    <td>Estados Unidos</td>
  </tr>
  <tr>
    <td>Facebook</td>
    <td>Mark Zuckerberg</td>
    <td>Estados Unidos</td>
  </tr>

</table>
</div>
</body>
</html>
